[submodule "AT-08"]
	path = Atividades/AT-08
	url = https://github.com/eduardofae/linearmountaincar_assignment.git
[submodule "Trabalho Final"]
	path = Trabalho Final
	url = https://github.com/eduardofae/PokemonGymRL.git
